In [106]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import mean
from numpy import std

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold

# Import the dataset
# 287 data with 23 features and label named "weight"
df = pd.read_csv("train4.csv")
# Split dataset into features and target
y = df['weight']
X = df.drop('weight', axis=1)

In [97]:
# View count of each class
y.value_counts()

60.0     16
70.0     16
75.0     16
80.0     12
55.0     11
         ..
55.4      1
87.0      1
140.0     1
93.0      1
49.7      1
Name: weight, Length: 65, dtype: int64

In [127]:
#Split the data into testing and training
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
print()
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

AttributeError: 'Series' object has no attribute 'type'

In [126]:
print(list(range(10, 20, 2)))

[10, 12, 14, 16, 18]

In [122]:
#Apply model on data set and train
model = RandomForestRegressor(criterion="mae", random_state=1, max_depth=20)
model.fit(X_train, y_train)

RandomForestRegressor(criterion='mae', max_depth=20, random_state=1)

In [124]:
# evaluate the model
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1, error_score='raise')
# report performance
print('MAE: %.3f (%.3f)' %(mean(n_scores), std(n_scores)))

MAE: -11.058 (2.154)

In [111]:
X_test.head(10)

,Gender,breakfast,calories_day,coffee,cook,cuisine,drink,eating_out,employment,exercise,...,ideal_diet_coded,income,italian_food,marital_status,on_off_campus,pay_meal_out,self_perception_weight,sports,veggies_day,vitamins
264,2,2,4,2,5,3,2,3,3,2,...,1,1,3,1,1,2,3,1,4,2
246,1,1,3,2,3,3,1,2,3,5,...,2,1,3,2,2,6,3,1,4,2
185,1,1,4,2,2,6,1,1,1,4,...,6,0,2,4,4,0,4,1,5,2
90,2,1,3,2,2,0,2,2,0,1,...,7,6,5,2,1,3,4,1,5,1
286,2,1,3,1,3,3,2,3,3,3,...,2,1,2,1,1,3,3,1,4,1
12,2,1,3,2,3,1,2,2,3,2,...,1,5,3,1,2,3,4,1,5,1
11,1,1,3,2,2,1,2,4,2,2,...,2,5,5,2,2,3,4,1,5,2
85,1,1,3,2,3,0,1,2,2,1,...,2,3,5,1,1,3,4,2,5,1
146,2,1,4,2,4,3,1,5,3,1,...,3,1,3,1,2,1,4,1,5,2
18,2,1,3,2,5,1,2,4,2,1,...,1,6,4,1,1,2,1,1,3,2

In [134]:
import pandas as pd
import numpy as np
thelist = [ ['sentence 1'], ['sentence 2'], ['sentence 3'] ]
df = pd.Series( (v[0] for v in thelist))

mylist = list(np.ones(10))
print(mylist)
df2 = pd.Series(mylist)
print(df2)

[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
dtype: float64